<body
    style="width: 500px; margin: auto auto;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: gray;">
    <div style="text-align: justify;">
        <div style="background-color: black;padding: 5px 15px;color: white;">
            <p>Xin chào <b>[[${name}]]</b>,</p>
            <b style="color: white">Mã xác minh của bạn là: [[${OTP}]]</b>
            <p>If you have any questions, contact us at <b style="color: white;">zuhot@zuhot.com</b>.</p>
            <p>Chúc bạn một ngày tốt lành !</p>
        </div>
    </div>
</body>